body { 
    margin-left: 1em; 
    margin-right: 1em; 
    font-family: Arial, geneva, serif;
	background-color:#ffffff; /*margin:0px;*/
	font-size: 11pt;
}
body, td, th { color:#000000; }

code {
    font-family: "Andale Mono", monospace; 
}

pre {
    background-color: rgb(245, 245, 245);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: silver;
    border-right-color: silver;
    border-bottom-color: silver;
    border-left-color: silver;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: "Andale Mono", monospace; 
    font-size: smaller;
}

tt {
    font-family: "Andale Mono", monospace; 
}

a { body, td, th { font-size: 11pt; } }

h1 { font-size:1.5em; }
h2 { font-size:1.25em; }
h3 { font-size:1.00em; }
h3 { padding-top: 1em; }
h4 { font-size:0.90em; }
/*
h1, h2, h3, h4 { margin-left: 0em; }
#product_logo
{
}

#product_name
{
}

#product_description
{
}

*/

textarea, pre, tt { font-size:10pt; }
small { font-size:0.85em; }
a:link { font-weight:bold; color: #004080; text-decoration: none; }
a:visited { font-weight:bold; color: #006699; text-decoration: none; }
a:link:hover { text-decoration:underline; }
hr { color:#cccccc }
img { border-width: 0px; }

p { margin-left: 1em; }

p.name { 
    font-family: "Andale Mono", monospace; 
    padding-top: 1em;
    margin-left: 0em; 
}

blockquote { margin-left: 3em; }

hr { 
    margin-left: 0em;
	background: #00007f; 
	border: 0px;
	height: 1px;
}

ul { list-style-type: disc; }

table.index { border: 1px #00007f; }
table.index td { text-align: left; vertical-align: top; }
table.index ul { padding-top: 0em; margin-top: 0em; }

table.stats {
	font-size: 8pt;
    border: 3px solid black;
    margin-left: 0px;
    margin-right: 0px;
	float: right;
	clear: right;
}

table {
    border: 1px solid black;
	border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th {
    border: 1px solid black;
    padding: 0.5em;
}
td {
    border: 1px solid black;
    padding: 0.5em;
}
div.header, div.footer { margin-left: 0em; }

#container
{
	margin-left: 1em;
	margin-right: 1em;
	background-color: #f0f0f0;
}

#product
{
	text-align: center;
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
}

#product big {
	font-size: 2em;
}

#main
{
	background-color: #f0f0f0;
	border-left: 2px solid #cccccc;
}

#navigation
{
	float: left;
	width: 12em;
	margin: 0;
	vertical-align: top;
	background-color: #f0f0f0;
	overflow:visible;
}

#navigation h1 {
	background-color:#e7e7e7;
	font-size:1.1em;
	color:#000000;
	text-align:left;
	margin:0px;
	padding:0.2em;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}

#navigation ul
{
	font-size:1em;
	list-style-type: none;
	padding: 0;
	margin: 1px;
}

#navigation li
{
	text-indent: -1em;
	margin: 0em 0em 0em 0.5em;
	display: block;
	padding: 3px 0px 0px 12px;
}

#navigation li li a
{
	padding: 0px 3px 0px -1em;
}

#content
{
	margin-left: 12em;
	padding: 1em;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
	background-color: #ffffff;
}

#about
{
	clear: both;
	margin: 0;
	padding: 5px;
	border-top: 2px solid #cccccc;
	background-color: #ffffff;
}

@media print {
	body { 
		font: 10pt "Times New Roman", "TimeNR", Times, serif;
	}
	a { font-weight:bold; color: #004080; text-decoration: underline; }
	
	#main	{		background-color: #ffffff;		border-left: 0px;	}	
	#container	{		margin-left: 2%;		margin-right: 2%;		background-color: #ffffff;	}
	
	#content	{		margin-left: 0px;		padding: 1em;		border-left: 0px;		border-right: 0px;		background-color: #ffffff;	}
	
	#navigation	{		display: none;
	}
	
	#product_logo
	{
		display: none;
	}

	#about img
	{
		display: none;
	}

	.example {
		font-family: "Andale Mono", monospace; 
		font-size: 8pt;
		page-break-inside: avoid;
	}
}
